.bottompara {
	margin-top: 2em;
	text-align: center;
}

.coursegoals {
    text-align: center;
}

.coursetable tr:nth-child(1) th { border: none; }
.coursetable tr:nth-child(2) th { border-top: none; }

.wrapper {
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 6em;
}

h1 {
	text-decoration: underline;
}

.goal-notused {
	color: #999;
	text-decoration: line-through;
}

.goal-focus {
	font-weight: bold;
}

.padass {
	padding-bottom: 1em;
}

.selectlist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  max-height: 1500px;
}

.selectlist > a {
	margin-right: 10px;
}

.diffunique {
	background-color: #50EB00;
}