.wrapper .navbar {
	margin-bottom: 0px;
}

.topnav h2, .topnav h3 {
	margin-top: 5px;
}

.topnav h2 {
	padding-left: 3px;
	padding-right: 3px;
}

.mainbox {
    border-top: 1px solid #e7e7e7;
    padding: 5px;
    background-color: white;
}

.body {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background-color: #f8f8f8;
}

.navselpath {
	margin-top: 5px;
}

.content {
	padding: 5px;
}

.bigtablecontainer {
	width: 100%;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.mapcontainer {
	width: 100%;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	text-align: center;
	margin-top: 2em;
	padding-bottom: 1em;
}

.subcol {
	margin-right: 5px;
	width: 32%;
	float: left;
}

.subcol a {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.favvoknapp {
	margin-top: 2em;
}

.bottompromo {
	margin-top: 3em;
	border-radius: 8px;
	padding: 5px;
	background-color: #FED1FF;
}

.obsolete {
	border-radius: 8px;
	padding: 5px;
	background-color: #FFA8A5;
}

.bottompromo button {
	float: right;
	margin: 3px;
}

.bottompromo:after {
    content: " ";
    display: block;
    clear: both;
}


.bottompara {
	margin-top: 2em;
	text-align: center;
}

.coursegoals {
    text-align: center;
}

.coursetable tr:nth-child(1) th { border: none; }
.coursetable tr:nth-child(2) th { border-top: none; }

.wrapper {
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 6em;
}

h1 {
	text-decoration: underline;
}

.goal-notused {
	color: #999;
	text-decoration: line-through;
}

.goal-focus {
	font-weight: bold;
}

.padass {
	padding-bottom: 1em;
}

.selectlist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  max-height: 1500px;
}

.selectlist > a {
	margin-right: 10px;
}

.diffunique {
	background-color: #50EB00;
}