<ion-view title="{{course.name}}">
  <ion-nav-buttons side="secondary">
    <button
      ng-click="toggleFavourite()"
      ng-class="{
        'ion-ios-heart': isFavourite,
        'ion-ios-heart-outline': !isFavourite
      }"
      class="button button-icon icon">
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" class="has-header">
    <ion-list>
      <ion-item
        class="item-icon-right"
        href="#/kursplaner/courses/{{course.code}}/description"
      >
        Fakta <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-icon-right"
        href="#/kursplaner/courses/{{course.code}}/content"
      >
        Centralt innehåll <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-icon-right"
        href="#/kursplaner/courses/{{course.code}}/judge"
      >
        Kunskapskrav <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>


      <div
        ng-if="commentlist.length"
        class="item item-divider"
      >
        Kommentarer
      </div>
      <ion-item
        collection-repeat="comment in commentlist"
        class="item-icon-right"
        href="#/kursplaner/courses/{{course.code}}/commenton/{{comment}}"
      >
        {{comment}} <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <!--<ion-item class="item-icon-right">
        Ämnesmål <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        Kurser i ämnet <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        Behörighet <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <div class="item item-divider">Kommentarer</div>
      <ion-item class="item-icon-right">
        Ämnet <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        Gy2000 <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        Grund <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        Innehållet <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        Syftet <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <div class="item item-divider">Jämför</div>
      <ion-item class="item-icon-right">
        Biologi (grund) <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        Biologi (grundvux) <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        Biologi – naturbruk <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        Biologi i vattenmiljöer <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        Natur- och landskapsvård <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        Hippologi <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        Naturvetenskaplig specialisering <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>-->
    </ion-list>
  </ion-content>
</ion-view>
