<ion-view title="Favouriter">
  <ion-content class="has-header">
    <ion-list>
      <div ng-if="!(favourites.courses.length || favourites.subjects.length)" class="card">
        <div class="item item-divider">
          Inga favouriter
        </div>
        <div class="item item-text-wrap">
          Du har inte lagt till några kurser eller ämnen som favouriter.
        </div>
      </div>

      <div ng-if="favourites.courses.length" class="item item-divider">Kurser</div>
      <ion-item
        ng-repeat="course in favourites.courses"
        class="item-icon-right"
        href="#/kursplaner/courses/{{course.code}}">
        <div class="row">
          <div class="col-75 truncate">{{course.name}}</div>
          <div class="col-25 truncate">
            <span class="item-note">{{course.code}}</span>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button class="button-assertive" ng-click="removeFavourite(course.code, 'course')">Ta bort</ion-option-button>
        </div>
      </ion-item>
      <div ng-if="favourites.subjects.length" class="item item-divider">Ämnen</div>
      <ion-item
        ng-repeat="subject in favourites.subjects"
        class="item-icon-right"
        href="#/kursplaner/subjects/{{subject.code}}">
        <div class="row">
          <div class="col-75 truncate">{{subject.name}}</div>
          <div class="col-25 truncate">
            <span class="item-note">{{subject.code}}</span>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button class="button-assertive" ng-click="removeFavourite(subject.code, 'subject')">Ta bort</ion-option-button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
