<ion-view title="Hem">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <p>Välkomna till kurskollen, siten som tillhandahåller Skolverkets ämnesplaner på ett mindre asjobbigt sätt!</p>
    <p>Den är långtifrån klar och det finns många vassa kanter, men redan nu kan du förhoppningsvis ha glädje av att enkelt kunna navigera styrdokumenten!</p>
    <p><span>Hittar du något som är knas eller får tankar om förbättringar, släng iväg ett mail till </span><a href="mailto:david@krawaller.se">David</a><span>!</span></p>
    <h4>Saker att fixa</h4>
    <ul>
      <li>Lägg till kommentarerna till grundskolans kurser</li>
      <li>Lägg till kommentarerna till kurserna på grundvux</li>
      <li>Klä siten i snyggare skrud :)</li>
    </ul>
  </ion-content>
</ion-view>
