<ion-view title="Ämnen">

  <ion-header-bar class="bar-light item-input-inset bar-subheader">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Sök" ng-model="search.name" ng-change="console.log('WHATTHEHECK')">

      <a ng-if="search.name != ''" on-touch="search.name = ''">
        <i class="icon ion-ios-close placeholder-icon"></i>
      </a>
    </label>
    <a
      class="button button-icon icon ion-funnel"
      ng-class="{'has-filter': !!filter.value}"
      ng-click="popover.show($event)"
      ng-if="selectedschool === 'gymn'"
    >
    </a>
  </ion-header-bar>

  <ion-footer-bar class="bar-light has-tabs">
    <div class="button-bar">
      <a
        class="button"
        ng-class="{'button-positive': selectedschool === 'grund'}"
        ng-click="setSchool('grund')">
        Grundskola
      </a>
      <a
        class="button"
        ng-class="{'button-positive': selectedschool === 'grundvux'}"
        ng-click="setSchool('grundvux')">
        Grundvux
      </a>
      <a
        class="button"
        ng-class="{'button-positive': selectedschool === 'gymn'}"
        ng-click="setSchool('gymn')">
        Gymnasie
      </a>
    </div>
  </ion-footer-bar>

  <ion-content overflow-scroll="true" class="has-footer has-subheader">
    <p>
      {{instruction}}
      <button class="button button-small button-assertive" ng-click="clearFilters()" ng-if="selectedschool === 'gymn' && filter.value">Visa samtliga gymnasieämnen</button>
    </p>
    <ion-list>
      <ion-item
        collection-repeat="subject in matchedSubjects = (subjects | filter:search) track by subject.name"
        class="item-icon-right"
        href="#/kursplaner/subjects/{{subject.code}}">
        <span ng-bind-html="subject.name | highlight:search.name"></span>
        <span class="item-note">
          {{subject.code}}
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div ng-hide="matchedSubjects.length">Inga ämnen matchar sökningen.</div>
  </ion-content>
</ion-view>
