<ion-view title="{{subject.name}}">
  <ion-nav-buttons side="secondary">
    <button
      ng-click="toggleFavorite()"
      ng-class="{
        'ion-ios-heart': !isFavorite,
        'ion-ios-heart-outline': isFavorite
      }"
      class="button button-icon icon">
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" class="has-header">
    <ion-list>
      <ion-item
        class="item-icon-right"
        href="#/kursplaner/subjects/{{subject.code}}/description"
      >
        Beskrivning <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-icon-right"
        href="#/kursplaner/subjects/{{subject.code}}/purpose"
      >
        Syfte <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-icon-right"
        href="#/kursplaner/subjects/{{subject.code}}/goals"
      >
        Ämnesmål <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item
        class="item-icon-right"
        href="#/kursplaner/subjects/{{subject.code}}/auth"
      >
        Behörighet <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <div
        ng-if="commentlist.length"
        class="item item-divider"
      >
        Kommentarer
      </div>
      <ion-item
        collection-repeat="comment in commentlist"
        class="item-icon-right"
        href="#/kursplaner/subjects/{{subject.code}}/commenton/{{comment}}"
      >
        {{comment}} <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-content>
</ion-view>
